{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product object
  - show_vendor: {Boolean} Show vendor
  - show_rating: {Boolean} Show product rating
  - show_quick_add: {Boolean} Show quick add button

  Usage:
  {% render 'product-card', product: product %}
{% endcomment %}

<div class="card">
  <div class="card__media">
    <a href="{{ product.url }}">
      {%- if product.featured_media -%}
        <img
          srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
          src="{{ product.featured_media | image_url: width: 533 }}"
          sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
          alt="{{ product.featured_media.alt | escape }}"
          loading="lazy"
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        >
      {%- endif -%}
    </a>
  </div>

  <div class="card__content">
    {%- if show_vendor -%}
      <div class="card__vendor">{{ product.vendor }}</div>
    {%- endif -%}

    <h3 class="card__title">
      <a href="{{ product.url }}">{{ product.title | escape }}</a>
    </h3>

    <div class="card__price">
      {%- if product.price_varies -%}
        {{ 'products.product.price.from_price_html' | t: price: product.price_min | money }}
      {%- else -%}
        {{ product.price | money }}
        {%- if product.compare_at_price > product.price -%}
          <s>{{ product.compare_at_price | money }}</s>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</div>
